 body {
                background-color: #f1e3cb;
            }
            hr {
                border-color: #f7b71d;
                border-style: dotted none none none;
                width: 7%;
                border-width: 10px;
                
               
            }