body {
  background: url(./images/workbench1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#header-container{
  height: auto;
  width: 100vw;
  position: fixed;
  margin-top: 20vh;
  background: rgba(243, 241, 241, 0.6);
  padding: 7vh 0;

}

#brand-header{
  height: 50vh;
  display: inherit;
  margin: 0 auto;
  filter: grayscale(1);
}

#logo-header{
  display: inherit;
  height: 17vh;
  margin: 0 auto;
  padding-top: 5vh;
}